<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GO Center</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.css">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
